@using CinemaTicket.Web.Services
@inject UserService UserService

@model DatabaseInfo

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h3 class="mb-3">Đồ án cuối kỳ Chuyên đề thiết kế phần mềm nâng cao - HK1 2024-2025</h3>

    <h6 class="mb-3">Họ tên: Nguyễn Ngọc Hồng Lĩnh</h6>
    <h6 class="mb-3">MSSV: 22880088</h6>
</div>



<p><span class="text-danger fw-bold">Vui lòng xem thông tin kết nối cơ sở dữ liệu ở trang <a class="text-decoration-none" asp-action="Privacy">Privacy</a>.</span></p>


