@using CinemaTicket.Web.Services
@inject UserService UserService


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    @if (UserService.GetCurrentToken() != null)
    {
        <p>Welcome, @UserService.GetCurrentUser() </p>
        <a href="/logout">Logout</a>
    }
    else
    {
        <a href="/login">Login</a>
    }
</div>