@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<hr />

<div>
    <h3 class="mb-3">Đồ án cuối kỳ Chuyên đề thiết kế phần mềm nâng cao - HK1 2024-2025</h3>

    <h6 class="mb-3">Họ tên: Nguyễn Ngọc Hồng Lĩnh</h6>
    <h6 class="mb-3">MSSV: 22880088</h6>
</div>

<div>
    <h6>Danh sách các user mẫu</h6>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>admin</td>
                <td>Abc@123</td>
                <td>Administrator</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>manager</td>
                <td>Abc@123</td>
                <td>OfficeManager</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>seller</td>
                <td>Abc@123</td>
                <td>TicketSeller</td>
            </tr>
        </tbody>
    </table>
</div>
